@media(min-width:768px){
    #carousel-img1{
        max-height: 280px;
    }

    #carousel-img2{
        max-height: 280px;
    }

    #carousel-img3{
        max-height: 280px;
    }
}

@media(min-width:992px){
    #carousel-img1{
        max-height: 500px;
    }

    #carousel-img2{
        max-height: 500px;
    }

    #carousel-img3{
        max-height: 500px;
    }
}