@media(min-width:540px){
    #ofertas-img{
        margin-left: 8em;
    }
}

@media(min-width:576px){
    #ofertas-img{
        margin-left: 10em;
    }
}

@media(min-width:768px){
    #ofertas-img{
        margin-left: 2em;
    }
}

@media(min-width:992px){
    #ofertas-img{
        margin-left: 2em;
    }
}

@media(min-width:1200px){
    #container-ofertas{
        margin-left: 80px
    }
}


@media(min-width:992px){
    #container-ofertas{
        margin-left: 200px
    }
}


@media(min-width:1200px){
    #container-ofertas{
        margin-left: 350px
    }
}

#pagination{
    margin-top: 40px;
}