@media(min-width:430px){
    #productos-img1{
        margin-left: 5rem;
    }
}

@media(min-width:540px){
    #productos-img1{
        margin-left: 9rem;
    }
}

@media(min-width:576px){
    #productos-img1{
        margin-left: 10rem;
    }
}

@media(min-width:768px){
    #productos-img1{
        margin-left: 2rem;
    }
}

@media(min-width:992px){
    #productos-img1{
        margin-left: 2rem;
    }
}


@media(min-width:992px){
    #container-productos{
        margin-left: 200px
    }
}


@media(min-width:1200px){
    #container-productos{
        margin-left: 350px
    }
}

#pagination{
    margin-top: 40px;
}