@media (min-width: 768px) {
  #masvendidos-img2 {
    max-height: 183px;
  }
}

@media (min-width: 992px) {
  #masvendidos-img2 {
    max-height: 400px;
  }
}

@media (min-width: 1200px) {
  #masvendidos-img2 {
    max-height: 400px;
  }
}
